extends layout 

block content 
    div.page
        h1= title 
        
        form(method="POST")
            div.formContainer
                label(for="name") Name of Category: 
                input(type="text" placeholder="Name of Category" name="categoryName" required value=(category === undefined ? "" : category.name))
            div.formContainer
                label(for="description") Description: 
                textarea(placeholder="Description" name="description" required)= category === undefined ? "" : category.description
            button.submitbtn(type='submit') Submit

            if errors 
                ul 
                    for error in errors 
                        li!= error.msg