extends layout 

block content
    h1= title 

    if category 
        p Description: 
            | #{category.description} 
    
        h2 Items in this category 
        if items.length 
            ul 
                each item in items 
                    li 
                        a(href=item.url) #{item.name} 
        else 
            p There are no items in this category
