extends layout 

block content 
    div.page
        h1= title 

        if category_list.length 
            ul 
                each category in category_list 
                    div.listContainer
                        li 
                            a(href=category.url) #{category.name} | #{category.description}

        else 
            p There are no categories in the database