extends layout

block content
  div.page
    h1= title
    p This is a simple inventory mangement webapp created using express.js 
    p Users can create, view, delete, and update items/categories

    p 
      strong Total number of items: #{item_count} 
    p 
      strong Total number of Categories: #{category_count}
