extends layout 

block content
    h1= title 
    
    form(method="POST")
        div.formContainer
            label(for="name") Name of Item: 
            input(type="text" placeholder="Name of Item" name="itemName" required value=(item === undefined ? "" : item.name))
        div.formContainer
            label(for="description") Description: 
            textarea(placeholder="Description" name="description" required)= item === undefined ? "" : item.description
        div.formContainer
            label(for="category") Category:
            select(name="category" required)
                // Dynamically create options for each category
                if categories
                    each category in categories
                        option(value=category._id selected=(item && item.category && item.category.toString() === category._id.toString()))= category.name
                else
                    option(value="" disabled selected) No categories available
        div.formContainer
            label(for="stock") Stock Amount: 
            input(placeholder="Stock" name="stock" required value=(item === undefined ? "" : item.stock))
        button.btn.btn-primary(type='submit') Submit

    if errors 
        ul 
            for error in errors 
                li!= error.msg