extends layout

block content 
    div.page
        h1= title 

        if item_list.length 
            ul
                each item in item_list 
                    div.listContainer
                        li 
                            a(href=item.url) #{item.name} #{item.stock} 
        else 
            p There are no items in the database